<%- include('../partials/head', { title: 'BigCo Intranet', user }) -%>

<h1>BigCo Internal Documentation</h1>
<p><strong>NOTE:</strong> This page is a work in progress.</p>
<p>
	Until this page is completed, please contact your manager for information on
	what’s expected of you and how to do it.
</p>

<%- include('../partials/foot') -%>
