<%- include('../partials/head', { title: 'BigCo Intranet', user }) -%>

<h1>SnackVision Documentation</h1>
<p><strong>NOTE:</strong> This page is a work in progress.</p>
<p>
	While docs are in progress, we recommend just vibing with SnackVision a bit.
	Do what feels right, you know?
</p>

<%- include('../partials/foot') -%>
