
  </main>

  <footer>
    <a href="https://lwj.dev">built as a Learn With Jason tutorial</a>
    <a href="https://github.com/learnwithjason/node-express-directory-sync">source code</a>
  </footer>
</body>
</html>